html 
    head 
        title BBK The Bridge

    body 
        nav 
            a(href="/") Home 
            a(href="/user") Usuario
            a(href="/login") Login
            a(href="/logout") Logout
        block content

        block script